/* ------ post.html--------*/

#marso{
font-size: 14px;
 color:#DEC71B;
font-weight:bold;






}
/* ------ post.html--------*/


.conti{
background-color:#294072;

height: 100%;
}


#holhead
{
background-color: #17233B;
width: 100%;

height: 20px;


}

#panhead
{
background-color: #17233B;



}


#adm
{
font-size: 15px;
font-weight: bold;
color: white;

}

#padbody
{
background-color: #1C2B4A ;
}

#forpass
{
color: white ;

}

#contain
{
width: 100%;

margin-top: 50px;


}




.modal-header {
  height: 50px;
 


 }

 .modal-footer {
  height: 55px;
  margin: auto;
 
 }
 .modal-title{

 	font-size: 13px;
 	font-weight: bold;
 } 


#consi{


}

#myModal{

	margin-top: 60px;
}


.loger{

	margin-bottom: 15px;
}



.use{

	color:black;
	font-weight: bold
}

.lok{


font-weight: bold	;	
color:black;
}

#hal{

	background-color: black;
}