
        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">

                        <h1 class="page-header animated bounceInRight">

                          <small><i class="fa fa-fw fa-user fa-2x" id = "conhead"> </i></small>  About
                        </h1>
                        <ol class="breadcrumb animated bounceInRight" >
                            <li class="active">
                                Lets you edit the history section.
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

            <div class="row"> 

                <div class="col-lg-12 animated fadeIn">

                  <div class="btn-toolbar" data-role="editor-toolbar" data-target="#editor">

                     <div class="form-group">
                         <label>Title</label>
                        <input class="form-control input-sm" placeholder="Enter title" ng-model="aboutMarilao.title" value="{{aboutMarilao.title}}">
                     </div>
    

          <div class="uneditable-input">
              <textarea class="form-control" rows="8" style="resize:none;" placeholder = "Enter text. .." ng-model="aboutMarilao.description" value="{{aboutMarilao.description}}">  </textarea>
          </div>
<br>
<!--
          <form novalidate>

   
<img ng-src="{{dummy.images[0]}}" width="285" height="150" ng-init="dummy.images[0] = def.image" /><br />

<ul class = "list-inline">

 <li>  
<span class="file-input btn btn-sm btn-primary btn-file">Pick an image-file<input type="file" ng-model="dummy.images" accept="image/*" multiple app-filereader/> 
 </span>  
</li> 

 <li> 
 <button ng-click="dummy.images[0] = def.image" class = "file-input btn btn-sm btn-success">Set Default Image
 </button>
 </li> 

</ul>

<br/>

</form>
-->
          <br>
         <div >
              <button type="button" class="btn btn-primary btn-sm pull-right" ng-click="updateContent()">Update </button>                
        </div>
 


              </div>
        </div>
</div>    


<br><br><br>
