<div ui-view></div>
        <div id="page-wrapper">

            <div class="container-fluid">



                <!-- Page Heading -->
                <div class="row">

                    <div class="col-lg-12">

                        <h1 class="page-header animated bounceInRight">

                          <small><i class="fa fa-fw fa-archive" id = "conhead"> </i></small> News Archive
                        </h1>
                        <ol class="breadcrumb animated bounceInRight" >
                            <li class="active">
                                 Lets you view the news archive.
                            </li>
                        </ol>
                    </div>
                </div>
                


    


<!-- Content -->

 
 <div class="row">
                    <div class="col-lg-12">
                    <br>
                        <div class="table-responsive animated fadeIn">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th><center>Month and Year</center></th>
                                       <!-- <th>Description</th> -->
                                        <th><center>Action</center></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr dir-paginate="archive in archiveList | itemsPerPage: 10 " pagination-id="newsPagination5" repeat-loading>

                                        <td><center>{{archive.$id}}</center></td>
                                        <!--  <td>{{news.Description}}</td> -->
                          
                           
                                        <td>    
                                        <center>                      
                                         <a ui-sref="main.content" ng-click="sendData(archive.$id)">View</a>
                                        </center>
                                    </td>
                                    </tr>
                                </tbody>
                            </table>

                         <div ng-controller="OtherController" class="col-xs-12 other-controller">
                            
                                  <div class="text-center">
                                       <dir-pagination-controls boundary-links="true" pagination-id="newsPagination5" on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls>
                                 </div>
                        </div>
                        
                        </div>
                    </div>
                </div>

  

        
     

       <br>


 <div class="panel panel-default animated fadeIn" id ="dork">


                            <div class="panel-body">
                               
                                
                            
                      <center>
                       
                         <h4 id= "foot1"> MarileNews </h4>
                          <h4 id= "foot2">  © 2015 || All Rights Reserved</h4>

                        </center>

               
      

                        </div>
 

        </div>


</div>