
<div ui-view></div>


        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">

                    <div class="col-lg-12">

                        <h1 class="page-header animated bounceInRight">

                          <small><i class="fa fa-fw fa-mobile fa-2x" id = "conhead"> </i></small>  Mobile Content
                        </h1>
                        <ol class="breadcrumb animated bounceInRight" >
                            <li class="active">
                                 Lets you view information on Marilenews mobile app.
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
<!-- CONTENT -->

              <div class="row"> 
                   


                     <div class="col-lg-3 col-md-4 animated fadeInUp">
                       <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                       <i class="fa fa-book fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class = "txtpanb">1</div>
                                        <div class = "txtpanb">About</div>
                                    </div>
                                </div>
                            </div>
                            <a ui-sref=".about" ng-click="showAbout()">
                                <div class="panel-footerb pans">
                                    <span class="pull-left" id = "panfoot">Click to Update</span>
                                    <span class="pull-right" id = "panfoot"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                           </a>
                        </div>
                    </div>




                    <div class="col-lg-3 col-md-4 animated fadeInUp">
                       <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                         <i class="fa  fa-5x">&#8369</i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class = "txtpang">2</div>
                                        <div class = "txtpang">Business</div>
                                    </div>
                                </div>
                            </div>
                              <a ui-sref=".business" ng-click="showBusiness()">
                                <div class="panel-footerg pans">
                                    <span class="pull-left" id = "panfoot">Click to Update</span>
                                    <span class="pull-right" id = "panfoot"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>




                     <div class="col-lg-3 col-md-4 animated fadeInUp">
                       <div class="panel panel-red">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                         <i class="fa  fa-phone-square fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class = "txtpanr">3</div>
                                        <div class = "txtpanr">Hotline</div>
                                    </div>
                                </div>
                            </div>
                           
                            <a ui-sref=".hotline" ng-click="showHotline()">
                                <div class="panel-footerr pans">
                                    <span class="pull-left" id = "panfoot">Click to Update</span>
                                    <span class="pull-right" id = "panfoot"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
               


                    <div class="col-lg-3 col-md-4 animated fadeInUp">
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-6">
                                       <i class="fa fa-certificate fa-5x"></i>
                                    </div>
                                    <div class="col-xs-6 text-right">
                                        <div class = "txtpany">4</div>
                                        <div class = "txtpany">Officials</div>
                                    </div>
                                </div>
                            </div>
                             <a ui-sref=".officials" ng-click="showOfficials()">
                                <div class="panel-footery pans">
                                    <span class="pull-left" id = "panfoot">Click to Update</span>
                                    <span class="pull-right" id = "panfoot"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
            


                     <div class="col-lg-3 col-md-4 animated fadeInUp">
                       <div class="panel panel-purple">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                       <i class="fa fa-plane fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class = "txtpanp">5</div>
                                        <div class = "txtpanp">Tourism</div>
                                    </div>
                                </div>
                            </div>
                              <a ui-sref=".tourism" ng-click="showTouristAttraction()"> 
                                <div class="panel-footerp pans">
                                    <span class="pull-left" id = "panfoot"> Click to Update</span>
                                    <span class="pull-right" id = "panfoot"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
         

          

                </div>
      

 <br><br><br><br><br><br><br><br><br>
         
<div class="panel panel-default animated fadeIn" id ="dork">


                    <div class="panel-body">
                               
                             
                            
                     <center>
                       
                          <h4 id= "foot1"> MarileNews </h4>
                          <h4 id= "foot2">  © 2015 || All Rights Reserved</h4>

                        </center>

               
              
                    </div>
          

            </div>

  </div>
 

</div>


